# Sample environment variables for the checkout-domain example
# Used to generate sqlx offline data. 
# You can copy this file to .env and edit the values as needed.
DATABASE_URL=postgres://postgres@localhost:5432/testscribe_checkout
